@charset "UTF-8";
/*
    Example usage:
    @include animation(10s, 5s, changecolour, ease-in, alternate, 3)
 */
/*
    Example usage:
@include keyframes(bgcolor) {
  0% {
    background-color: #ffccf2;
  }
  50% {
    background-color: #ccffcc;
  }
  100% {
    background-color: #ccffff;
  }
}
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

.block {
  display: block; }

.text-link, .blog .content .entry-content a:not(.more-link), .single-post .content .entry-content a:not(.more-link), .blog .content .entry-content a:not(.sd-button), .single-post .content .entry-content a:not(.sd-button) {
  color: #444;
  text-decoration: none;
  border-bottom: solid 1px #E24D25;
  padding-bottom: 2px;
  font-weight: bold; }
  .text-link:hover, .blog .content .entry-content a:hover:not(.more-link), .single-post .content .entry-content a:hover:not(.more-link), .blog .content .entry-content a:hover:not(.sd-button), .single-post .content .entry-content a:hover:not(.sd-button) {
    color: #E24D25; }

.text-link:hover, .blog .content .entry-content a:hover:not(.more-link), .single-post .content .entry-content a:hover:not(.more-link), .blog .content .entry-content a:hover:not(.sd-button), .single-post .content .entry-content a:hover:not(.sd-button), button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.widget .button, .scroll-to-top {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.single-post .content .entry-footer, main article header p.entry-meta {
  display: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.widget .button {
  background-color: #E24D25;
  border-color: #E24D25;
  font-weight: bold; }

.site-title, .section-title, .blog .content .entry-title, .single-post .content .entry-title {
  font-size: 48px;
  color: #666666; }

blockquote {
  font-size: 24px; }

h1, h2, h3, h4, h5, h6, .site-title, .section-title {
  font-family: 'Oswald', sans-serif; }

body {
  font-size: 18px;
  line-height: 1.5em; }

.page-description {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #222; }

body {
  font-family: 'Playfair Display', serif; }

blockquote {
  color: #E24D25;
  font-weight: bold;
  border: solid thin #eee;
  padding: 30px 20px 5px 40px;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5em; }

.genesis-nav-menu > .menu-item > a {
  text-transform: lowercase; }

.site-header.dark {
  background-color: #FFF; }
  .site-header.dark .title-area {
    padding-top: 5px;
    padding-bottom: 3px; }
  .site-header.dark .site-title a {
    color: #E24D25 !important; }
  .site-header.dark .genesis-nav-menu {
    margin-top: 0; }
    .site-header.dark .genesis-nav-menu a {
      color: #000; }
      .site-header.dark .genesis-nav-menu a:hover {
        border-color: #000; }

.site-title {
  font-weight: 500; }
  @media only screen and (max-width: 800px) {
    .site-title {
      font-size: 36px; } }

.section-title {
  color: #666666; }

.post-type-archive-people h1.entry-title {
  color: #666666; }

.site-title {
  text-align: left;
  display: inline-block; }

.site-description {
  color: white; }

.entry-header::after {
  display: none; }

.page-description {
  display: block; }
  .page-description:after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    margin: 0 auto 60px;
    padding-bottom: 20px;
    width: 25%; }

.page .entry-title, .single-people .header-wrap .entry-title, .post-type-archive-people .header-wrap .entry-title {
  color: #A1A0A1;
  font-size: 36px; }
  @media only screen and (min-width: 800px) {
    .page .entry-title, .single-people .header-wrap .entry-title, .post-type-archive-people .header-wrap .entry-title {
      font-size: 60px; } }
  @media only screen and (min-width: 1200px) {
    .page .entry-title, .single-people .header-wrap .entry-title, .post-type-archive-people .header-wrap .entry-title {
      font-size: 72px; } }

@font-face {
  font-family: "ajmn-icons";
  src: url("../fonts/ajmn-icons.eot");
  src: url("../fonts/ajmn-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/ajmn-icons.woff") format("woff"), url("../fonts/ajmn-icons.ttf") format("truetype"), url("../fonts/ajmn-icons.svg#ajmn-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "ajmn-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ajmn-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ajmn-accessible:before {
  content: "a"; }

.icon-ajmn-alert:before {
  content: "b"; }

.icon-ajmn-arrow:before {
  content: "c"; }

.icon-ajmn-arrow-circle:before {
  content: "d"; }

.icon-ajmn-bookmark:before {
  content: "e"; }

.icon-ajmn-calendar:before {
  content: "f"; }

.icon-ajmn-caret:before {
  content: "g"; }

.icon-ajmn-cart:before {
  content: "h"; }

.icon-ajmn-chat:before {
  content: "i"; }

.icon-ajmn-check:before {
  content: "j"; }

.icon-ajmn-chevron-dbl-left:before {
  content: "k"; }

.icon-ajmn-chevron-dbl-right:before {
  content: "l"; }

.icon-ajmn-chevron-left:before {
  content: "m"; }

.icon-ajmn-chevron-right:before {
  content: "n"; }

.icon-ajmn-clock:before {
  content: "o"; }

.icon-ajmn-close:before {
  content: "p"; }

.icon-ajmn-close-circle:before {
  content: "q"; }

.icon-ajmn-complete:before {
  content: "r"; }

.icon-ajmn-contacts:before {
  content: "s"; }

.icon-ajmn-document-stack:before {
  content: "u"; }

.icon-ajmn-download:before {
  content: "v"; }

.icon-ajmn-edit:before {
  content: "w"; }

.icon-ajmn-embed:before {
  content: "x"; }

.icon-ajmn-expand:before {
  content: "y"; }

.icon-ajmn-facebook:before {
  content: "z"; }

.icon-ajmn-fast-forward:before {
  content: "A"; }

.icon-ajmn-flag:before {
  content: "B"; }

.icon-ajmn-forward:before {
  content: "C"; }

.icon-ajmn-globe:before {
  content: "D"; }

.icon-ajmn-google-plus:before {
  content: "E"; }

.icon-ajmn-grid:before {
  content: "F"; }

.icon-ajmn-heart:before {
  content: "G"; }

.icon-ajmn-history:before {
  content: "H"; }

.icon-ajmn-info:before {
  content: "I"; }

.icon-ajmn-instagram:before {
  content: "J"; }

.icon-ajmn-linkedin:before {
  content: "K"; }

.icon-ajmn-list:before {
  content: "L"; }

.icon-ajmn-live-stream:before {
  content: "M"; }

.icon-ajmn-loading:before {
  content: "N"; }

.icon-ajmn-location:before {
  content: "O"; }

.icon-ajmn-mail:before {
  content: "P"; }

.icon-ajmn-menu:before {
  content: "Q"; }

.icon-ajmn-more:before {
  content: "R"; }

.icon-ajmn-notification:before {
  content: "S"; }

.icon-ajmn-pause:before {
  content: "T"; }

.icon-ajmn-phone:before {
  content: "U"; }

.icon-ajmn-photo:before {
  content: "V"; }

.icon-ajmn-photo-gallery:before {
  content: "W"; }

.icon-ajmn-play:before {
  content: "X"; }

.icon-ajmn-plus:before {
  content: "Y"; }

.icon-ajmn-print:before {
  content: "Z"; }

.icon-ajmn-profile:before {
  content: "0"; }

.icon-ajmn-question:before {
  content: "1"; }

.icon-ajmn-quote-closed:before {
  content: "2"; }

.icon-ajmn-quote-open:before {
  content: "3"; }

.icon-ajmn-record:before {
  content: "4"; }

.icon-ajmn-reddit:before {
  content: "5"; }

.icon-ajmn-refresh:before {
  content: "6"; }

.icon-ajmn-rewind:before {
  content: "7"; }

.icon-ajmn-rss:before {
  content: "8"; }

.icon-ajmn-search:before {
  content: "9"; }

.icon-ajmn-setttings:before {
  content: "!"; }

.icon-ajmn-share:before {
  content: "\""; }

.icon-ajmn-soundcoud:before {
  content: "#"; }

.icon-ajmn-star:before {
  content: "$"; }

.icon-ajmn-stop:before {
  content: "%"; }

.icon-ajmn-trash:before {
  content: "&"; }

.icon-ajmn-tumblr:before {
  content: "'"; }

.icon-ajmn-twitter:before {
  content: "("; }

.icon-ajmn-video:before {
  content: ")"; }

.icon-ajmn-video-gallery:before {
  content: "*"; }

.icon-ajmn-vol-decrease:before {
  content: "+"; }

.icon-ajmn-vol-increase:before {
  content: ","; }

.icon-ajmn-vol-off:before {
  content: "-"; }

.icon-ajmn-youtube:before {
  content: "."; }

.icon-ajmn-document:before {
  content: "t"; }

nav.nav-primary .responsive-menu-icon {
  float: right;
  border: solid thin rgba(255, 255, 255, 0.4);
  margin-top: -52px;
  margin-right: -18px;
  width: 32px;
  height: 32px;
  padding-top: 3px; }

.genesis-nav-menu {
  display: block;
  clear: both; }
  .genesis-nav-menu a {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px; }
    @media only screen and (min-width: 1200px) {
      .genesis-nav-menu a {
        padding-top: 10px;
        padding-bottom: 10px; } }
    @media only screen and (max-width: 1200px) {
      .genesis-nav-menu a {
        padding-top: 10px;
        padding-bottom: 10px; } }
  .genesis-nav-menu > li > a {
    border-width: 1px; }
  @media only screen and (min-width: 1023px) {
    .genesis-nav-menu {
      margin-top: -55px; } }

.site-header.dark .genesis-nav-menu {
  margin-top: -45px; }
  .site-header.dark .genesis-nav-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: white; }

@media only screen and (max-width: 800px) {
  .genesis-nav-menu.responsive-menu {
    clear: both;
    padding-top: 15px; } }

.site-footer {
  background-color: #000;
  text-align: left;
  font-family: 'Oswald', sans-serif; }
  .site-footer p {
    text-transform: none;
    color: #999; }
  @media only screen and (max-width: 800px) {
    .site-footer .wrap {
      padding-left: 0;
      padding-right: 0; } }

.scroll-to-top {
  position: fixed;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #f7f7f7;
  z-index: 9999;
  border-radius: 4px;
  text-align: center; }
  .scroll-to-top:hover {
    background-color: #ccc;
    cursor: pointer; }
  .scroll-to-top:after {
    content: "↑";
    color: #E24D25; }

@keyframes scroll-to-top-show {
  0% {
    bottom: -100px; }
  100% {
    bottom: 12px; } }

@keyframes scroll-to-top-hide {
  0% {
    bottom: -10px; }
  100% {
    bottom: -100px; } }

.scroll-to-top-show {
  animation-name: scroll-to-top-show;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-iteration-count: 1; }

.scroll-to-top-hide {
  animation-name: scroll-to-top-hide;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-iteration-count: 1; }

.blog .attachment-post-image, .single-post .wp-post-image {
  width: 100%;
  margin-bottom: 10px; }

.blog .entry-footer {
  padding: 20px; }
  .blog .entry-footer:before {
    display: none; }
  .blog .entry-footer p {
    font-size: 16px; }
  .blog .entry-footer .entry-tags {
    display: block; }

.blog .content article {
  padding-top: 20px;
  margin-bottom: 40px; }

.blog .content .entry-title, .single-post .content .entry-title {
  line-height: 1em; }
  .blog .content .entry-title a, .single-post .content .entry-title a {
    color: #A1A0A1; }
    .blog .content .entry-title a:hover, .single-post .content .entry-title a:hover {
      color: #000; }

.blog .content .entry-content img, .single-post .content .entry-content img {
  border: solid thin #eee; }

a.more-link {
  font-weight: bold; }

.work-example ul {
  margin-left: 0; }
  .work-example ul li {
    list-style-type: none;
    margin-bottom: 2em; }

.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: #E24D25; }

input, select {
  font-size: 16px;
  height: 50px;
  padding: 10px; }

input, select {
  margin-bottom: 20px;
  box-sizing: border-box; }

input {
  border-radius: 4px; }

select {
  line-height: 19px; }

form {
  width: 100%; }

.page-template-case-studies-page .entry {
  margin-bottom: 40px; }

.work-list-item {
  margin-bottom: 20px;
  display: block;
  position: relative; }
  .work-list-item a {
    display: inline; }
  .work-list-item .text {
    padding: 1em 0.5em;
    position: absolute;
    z-index: 999;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: solid thin rgba(255, 255, 255, 0.1);
    border-bottom: solid thin rgba(255, 255, 255, 0.1);
    top: 37%;
    color: white; }
    .work-list-item .text h3 {
      margin: 0;
      font-size: 24px;
      -webkit-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
      -moz-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
      -o-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
      -ms-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
      transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; }
    .work-list-item .text span {
      display: block;
      padding-bottom: 0.7em; }
  .work-list-item .thumbnail img {
    display: block; }
  .work-list-item .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }

.single-work {
  margin-bottom: 30px; }
  .single-work .single-work-thumbnail {
    margin-bottom: 20px; }
  .single-work .img-description {
    color: #656565;
    font-size: 14px; }
  .single-work .button {
    padding: 5px 15px; }

.single-work-content img {
  border: solid thin #eee; }

.client-info {
  padding: 20px;
  margin-bottom: 20px;
  border: solid thin #eee; }
  .client-info .skills {
    margin-bottom: 10px; }

.about {
  text-align: center; }

ul.text-icons {
  margin-left: 0; }
  ul.text-icons li {
    list-style: none;
    border: solid thin #E24D25;
    display: inline-block;
    border-radius: 100%;
    width: 5em;
    height: 5em;
    line-height: 5em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin: 10px; }
  ul.text-icons span {
    border-bottom: solid thin #eee; }

.col-wrapper {
  display: flex; }
  .col-wrapper ul {
    text-align: left; }

@media only screen and (max-width: 800px) {
  .home .site-inner {
    padding: 0; } }

@media only screen and (min-width: 800px) {
  .home .site-inner {
    max-width: 100%;
    margin-top: 71px; } }

@media only screen and (max-width: 1023px) {
  .home .site-inner {
    margin-top: 0; } }

@media only screen and (max-width: 1200px) {
  .home .home-page-h1, .home .dm-campaign-monitor-form, .home .client-section {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; } }

.home .entry {
  margin-bottom: 0px; }

.home .content .entry-header {
  display: none;
  color: white; }

.home.full-width-content .content {
  padding-left: 0;
  padding-right: 0; }

.home-page section {
  padding: 20px; }

.entry-content ul.thumbnail-list {
  margin-left: auto; }

.home .wrapper {
  display: block; }
  .home .wrapper p {
    margin: 0; }
  .home .wrapper .section {
    box-sizing: border-box;
    padding: 2em; }
  .home .wrapper .inner-section {
    padding: 1em;
    max-width: 45em;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden; }
  .home .wrapper article {
    padding-top: 1.8em;
    text-align: center; }
    .home .wrapper article header {
      margin-bottom: 1.5em;
      border-bottom: solid thin rgba(0, 0, 0, 0.2); }
    .home .wrapper article .content {
      display: block; }
  .home .wrapper #intro, .home .wrapper #work {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.5)), color-stop(80%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#e6000000',GradientType=0 );
    position: relative; }
  .home .wrapper #intro {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%; }
    .home .wrapper #intro .inner-section {
      margin-top: -4em;
      text-align: center;
      color: white; }
      .home .wrapper #intro .inner-section header {
        margin-bottom: 0;
        border-bottom: solid thin rgba(255, 255, 255, 0.25); }
      .home .wrapper #intro .inner-section article {
        padding-top: 0; }
      .home .wrapper #intro .inner-section .name {
        text-transform: uppercase; }
      .home .wrapper #intro .inner-section .description {
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        font-size: 1.25em;
        margin-bottom: 1.45em; }
  .home .wrapper .intro-section-outer-wrapper, .home .wrapper .work-section-outer-wrapper {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block; }
  .home .wrapper .intro-section-outer-wrapper {
    background-image: url("//www.jabaltorres.com/wp-content/uploads/2016/03/P1000151_JT.jpg"); }
  .home .wrapper .work-section-outer-wrapper {
    background-image: url("//www.jabaltorres.com/wp-content/themes/jt-altitude-pro/images/bg-3.jpg"); }
  .home .wrapper #about {
    background-color: #fff; }
    .home .wrapper #about p {
      margin-bottom: 1.5em; }
    .home .wrapper #about .dev-languages {
      padding: 0;
      margin-left: 0; }
      .home .wrapper #about .dev-languages li {
        list-style-type: none;
        display: inline-block;
        border: solid thin #E24D25;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        width: 5em;
        height: 5em;
        line-height: 5em;
        border-radius: 100%;
        box-sizing: border-box; }
        .home .wrapper #about .dev-languages li span {
          border-bottom: solid thin #eee; }
        .home .wrapper #about .dev-languages li:nth-of-type(even) {
          margin-left: 1em;
          margin-right: 1em; }
  .home .wrapper #work header {
    color: white; }
  .home .wrapper #work ul {
    margin: 0; }
    .home .wrapper #work ul li {
      list-style-type: none; }
  .home .wrapper #contact {
    background-color: #fff; }
    .home .wrapper #contact ul {
      display: block;
      margin: 0; }
    .home .wrapper #contact li {
      display: inline-block;
      list-style-type: none; }
    .home .wrapper #contact a {
      display: inline-block;
      padding: 0.5em;
      margin-left: 0.125em;
      margin-right: 0.125em;
      color: #E24D25;
      font-size: 2em;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
      .home .wrapper #contact a:hover {
        background-color: #eee; }

.home.full-width-content .content {
  padding-bottom: 0; }

.single-case-study {
  background-color: #eee; }

.article-list-item {
  margin-bottom: 20px; }

.page-template-work-page .entry {
  margin-bottom: 40px; }

.page-template-work-page .sub-head {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold; }

.work-list li {
  max-width: 45em;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 auto 2.25em;
  padding: 0.5em;
  list-style-type: none; }
  .work-list li:hover {
    max-width: 45.125em; }
    .work-list li:hover img {
      -webkit-box-shadow: 2px 4px 1em rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 2px 4px 1em rgba(0, 0, 0, 0.7);
      box-shadow: 2px 4px 1em rgba(0, 0, 0, 0.7); }
    .work-list li:hover a {
      color: white; }
    .work-list li:hover h3 {
      visibility: visible; }
    .work-list li:hover .overlay {
      background-color: rgba(0, 0, 0, 0.1); }

.work-list a {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: block;
  line-height: 0;
  color: #eee; }

.work-list img {
  display: inherit; }

.work-list .text {
  padding: 1em 0.5em;
  position: absolute;
  z-index: 999;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: solid thin rgba(255, 255, 255, 0.1);
  border-bottom: solid thin rgba(255, 255, 255, 0.1);
  top: 25%; }
  .work-list .text h3 {
    margin: 0 0 0.6em;
    font-size: 24px;
    -webkit-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .work-list .text span {
    display: block;
    padding-bottom: 0.7em; }

.work-list .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

@media only screen and (min-width: 800px) {
  .work-list .text {
    top: 37%; }
    .work-list .text h3 {
      font-size: 36px; } }

.nav-primary .genesis-nav-menu {
  text-align: left; }

::-webkit-input-placeholder {
  color: #666; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #666; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

.footer {
  border-top: 1px solid #dedede;
  padding-top: 10px;
  color: #676767; }

a {
  color: #E24D25; }

.site-header.dark {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05); }
  .site-header.dark .site-description {
    text-indent: -9999px;
    height: 0; }

@media only screen and (max-width: 1023px) {
  .site-inner {
    margin-top: 30px; } }

@media only screen and (min-width: 800px) {
  .site-header {
    padding-bottom: 0px; }
  .title-area {
    padding-top: 10px;
    padding-bottom: 10px; }
  .left-half, .right-half {
    width: 50%; }
  .left-half {
    float: left;
    padding-right: 20px; }
  .right-half {
    float: right;
    padding-left: 20px; } }

div#respond.comment-respond {
  display: none; }

.more-link {
  display: block;
  border: none !important; }

.post-edit-link {
  padding: 10px;
  background-color: #ccc;
  border: solid thin #ddd;
  border-radius: 4px;
  display: inline-block; }

/*# sourceMappingURL=jt-styles.css.map */