@import "base/variables";
@import "base/mixins";
@import "base/utility-classes";
@import "base/placeholders";
@import "base/typography";

@import "components/icon-font";
@import "components/navigation";
// @import "components/footer-widgets";
@import "components/site-footer";
@import "components/scroll-to-top";
@import "components/blogroll-page";
@import "components/work-example";
@import "components/pagination";
@import "components/buttons";
@import "components/inputs";
@import "components/forms";

@import "templates/case-studies-template";
@import "templates/work-template";

@import "pages/about";
@import "pages/home-page";
@import "pages/case-studies";
@import "pages/work";

.nav-primary .genesis-nav-menu{
  text-align: left;
}

$placeholder-color: #666;
::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;  
}

:-ms-input-placeholder {  
   color: $placeholder-color; 
}

.footer {
  border-top: 1px solid #dedede;
  padding-top: 10px;
  color: #676767;
}

main article{
  header p.entry-meta{
    @extend %display-none;
  }
}


a{
  color: $color-primary;
}


.site-header{
  &.dark{
    box-shadow: 0 3px 5px rgba(0,0,0,.05);
    .site-description{
      text-indent: -9999px;
      height:0;
    }
  }
}

.site-inner{
  @include max-1023{
    margin-top: 30px;
  }
}

@include medium-screen{
  .site-header{
    padding-bottom:0px;
  }
  .title-area{
    padding-top:10px;
    padding-bottom:10px;
  }
  .site-title{
    // background-color: pink;
  }
  .site-description{
    // background-color: yellow;
    // text-indent: initial;
    // height:initial;
  }

  .left-half, .right-half{
    width:50%;
  }
  .left-half{
    float: left;
    padding-right: 20px;
  }
  .right-half{
    float: right;
    padding-left: 20px;
  } 
}

div#respond.comment-respond{
  display: none;
}

.more-link{
  display: block;
  border: none !important;
}

.post-edit-link{
  padding: 10px;
  background-color: #ccc;
  border: solid thin #ddd;
  border-radius: 4px;
  display: inline-block;
}

.post-278{
  text-align: center;
}

.sd-social-icon .sd-content ul li[class*=share-] a.sd-button{
  padding: 7px;
}


aside{
  padding-top: 10px;
}