// Colors
$color-grey: #666666;
$color-offwhite:#fcfbf9;
$olive-yellow: #B0AF81;
$light-grey: #A1A0A1;
$dark-grey: #666666;
$background: #FCFBF9;
// $dark-purple: #663366;
$orange: #E24D25;
$color-brand: $orange;
$sage: #efefe6; 

$color-accent: $olive-yellow;
$color-primary: $orange;

$border-radius: 4px;