.page-id-278{
  .site-inner{
    max-width: 100%;
  }
}

.page-id-278.full-width-content{
  .content{
    padding: 0;
  }

  span.line {
    width: 70px;
    height: 5px;
  }
  .person-info{
    span.line{
      background-color: $dark;
    }
  }
  .my-journey{
    span.line{
      background-color: $primary;
    }
  }
  .person-info h3,
  .my-journey h3{
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
.post-278.entry{
  margin-bottom: 0;
}