.contact-us-page{
  .social{
    margin-left: 0;
    margin-top:10px;
  }
}
.campaignMonitor-contact-form{
  p{
    margin-bottom: 0;
  }
  label{
    // background-color: red;
    display: none;
    font-size: 18px;
  }
}
.phone-number-wrapper{
  // border: solid thin red;
}
.phone-number{

  @extend %h3-font-size;
  line-height: 1em;
  display: block;
  margin-bottom: 20px;
  @extend %heading-font;
}

.left-half{
  // background-color:green;
}
.right-half{
  // background-color:green;
}

@include medium-screen{

}