////////////////////////////////////////////////////////////////////////
// skip to next section

.home{
  @include max-800{
    .site-inner{
      padding:0;
    }
  }
  @include medium-screen{
    .site-inner{
      max-width:100%;
      margin-top: 76px;
    }
  }
  @include max-1023{
    .site-inner{
      margin-top: 0;
    }
  }
  @include large-screen-max{
    .home-page-h1, .dm-campaign-monitor-form, .client-section{
      max-width: 960px;
      margin-left:auto;
      margin-right:auto;
    }
  }
  .entry{
    margin-bottom: 0px;
  }
  .content .entry-header{
    display: none;  
    color:white;
  }
}
.home.full-width-content .content{
  padding-left:0;
  padding-right:0;
}

////////////////////////////////////////////////////////////////////////

.featured-blurb, .dm-campaign-monitor-form, .client-section{

}

.home-page{
  section{
    padding:20px;
  }
}

.featured-blurb{
  background-color: $color-brand;
}

.home-page-h1{
  color:white;
  @extend %h3-font-size;
  margin-bottom: 0;
}



////////////////////////////////////////////////////////////////////////
// Sections
////////////////////////////////////////////////////////////////////////


// Client Section Area
.client-section{
  border-top: solid 4px $color-accent;
}
.client-section-text, .client-section-icons{
  float: left;
}
.client-section-text{
  .section-title{
    @extend %h1-font-size;
    color:$color-brand; 
    display: block;
    line-height: 1.5em;
  }
}
.client-section-icons{
  // background-color: #efefe6;
  ul{
    margin:0;
  }
  li{
    list-style: none;
    width:100%;
    float: left;
    @extend %text-center;
    height:150px;
    line-height: 150px;
    border-bottom:solid thin #ccc;
    @extend %flexbox-vertical-center;
  }
  img{
    max-width: 90%;
  }
}

@include medium-screen{
  .home-page-h1{
    font-size: 45px;
    padding:65px;
  }
  .featured-blurb, .dm-campaign-monitor-form{
    margin-bottom: 40px;
  }
  .featured-blurb{

  }
  .dm-campaign-monitor-form-text{
    padding-right:20px
  }
  .dm-campaign-monitor-form{
    form{
      margin-top: 20px;
    }  
  }

  section.client-section{
    padding-top: 50px;
  }

  .client-section-text, .client-section-icons{
    width:50%;
  }
  .client-section-text{
    padding-right:20px;
  }
  .client-section-icons{
    padding-left:20px;
    margin-top: -40px;
    li{
      width: 33.3333%;
      border-bottom: none;
    }
  }
}
@include max-1023{}

@media only screen and (min-width: 800px) and (max-width: 1023px) {}

@include max-1280{
  .home-page-h1, .dm-campaign-monitor-form, .client-section{
    max-width: 1140px;
  }
}

@include large-screen{}

.work{
  .thumbnail-list{
    li{
      max-width: 45em;
      background-color: rgba(255,255,255,0.1);
      margin: 0 auto 2.25em;
      padding: 0.5em;
      &:hover{
        max-width: 45.125em;
        img{
          @include box-shadow($horizontal: 2px, $vertical: 4px, $blur: 1em, $color: rgba(0,0,0,0.7));
        }
        a{
          color: white; 
        }
        h3{
          visibility: visible;
        }
        .overlay{
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
    a{
      background-color: rgba(255,255,255,0.2);
      position: relative;
      display: block;
      line-height: 0;
      color: #eee;
    }
    img{
      display: inherit;
    }
    .text{
      // border: solid thin red;
      padding: 1em 0.5em;
      position: absolute;
      z-index: 999;
      width: 100%;
      // background-color: pink;
      background-color: rgba(0,0,0,0.7);
      border-top: solid thin rgba(255,255,255,0.1);
      border-bottom: solid thin rgba(255,255,255,0.1);
      top: 25%;
      h3{
        margin: 0 0 0.6em;
        font-size: $h5-font-size;
        
        // background-color: yellow;
        // padding: 1em;
        // z-index: 999;
        // width: 100%;
        // top: 42%;
        // visibility: hidden;
        // opacity: 0;
        @include transition(top 0.3s ease-in-out, opacity 0.3s ease-in-out);
      }
      span{
        display: block;
        padding-bottom: 0.7em;
      }
    }
    .overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,0.8);
      @include transition(background-color 0.3s ease-in-out);
    }
    @include medium-screen{
      .text{
        top: 37%;
        h3{
          font-size: $h4-font-size;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  .front-page-3{
    background-attachment: fixed;
  }
}

.home .wrapper{
  // border: solid thin blue;
  // background-color: blue;
  display: block;
  p{
    margin: 0;
  }
  .section{
    box-sizing: border-box;
    padding: 2em;
  }
  .inner-section{
    // border: solid thin green;
    padding: 1em;
    // background-color: yellow;
    max-width: 45em;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  article{
    // background-color: orange;
    padding-top: 1.8em;
    // border: solid thin red;
    text-align: center;
    header{
      margin-bottom: 1.5em;
      border-bottom: solid thin rgba(0,0,0,0.2);
    }
    .content{
      display: block;
    }
  }

  %sharedGradient{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(30%,rgba(0,0,0,0.5)), color-stop(80%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#e6000000',GradientType=0 );
    overflow: scroll;
    position: relative;
  }
  #intro{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    .inner-section{
      // background-color: #eee;
      margin-top: -4em;
      text-align: center;
      color: white;
      header{
        margin-bottom: 0;
        border-bottom: solid thin rgba(255,255,255,0.25);
      }
      article{
        // background-color: red;
        padding-top:0;
      }
      .name, .description{
        // margin: 0 0 0.5em;
      }
      .name{
        text-transform: uppercase;
        margin: 0 0 0.5em;
        color: white;
      }
      .description{
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-size: 1.25em;
      }
    }
  }
  #intro, #work{
    @extend %sharedGradient;
  }
  .intro-section-outer-wrapper, .work-section-outer-wrapper{
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    position: relative;
    display: block;
    @include max-800{
      background-attachment: scroll;
    }
  }
  .intro-section-outer-wrapper{
    background-image: url("//www.jabaltorres.com/wp-content/uploads/2016/03/P1000151_JT.jpg");
  }
  .work-section-outer-wrapper{
    background-image: url("//www.jabaltorres.com/wp-content/themes/jt-altitude-pro/images/bg-3.jpg");
  }
  #about{
     background-color: #fff;
     p{
      margin-bottom: 1.5em;
     }
  }
  #work{
     header{
      color: white;
     }
     ul{
      margin: 0;
      li{
        list-style-type: none;
      }
     }
  }
  #contact{
    background-color: #fff;
    ul{
      // background-color: green;
      display: block;
      margin: 0;
    }
    li{
      display: inline-block;
      list-style-type: none;
    }
    a{
      display: inline-block;
      padding: 0.5em;
      margin-left: 0.125em;
      margin-right: 0.125em;
      color: $color-primary;
      font-size: 2em;
      @include transition(background-color 0.3s ease-in-out);
      &:hover{
        background-color: #eee;
      }
    }
    .icon{
      &:before{}
    }
    .content{
      .social-links{}
    
    }
  }
}







