nav.nav-primary{
  .responsive-menu-icon{ // hamburger nav
    float: right;
    border: solid thin rgba(255,255,255,0.4);
    margin-top: -52px;
    margin-right: -18px;
    width:32px;
    height:32px;
    padding-top: 3px;
  }
}
.front-page .genesis-nav-menu li.current-menu-item > a:hover, .genesis-nav-menu li.current-menu-item > a, .genesis-nav-menu > li > a:hover{
  // border-color: $color-primary;
}
.genesis-nav-menu{
  display: block;
  clear:both;
  a{
    font-weight: 700;
    font-size: 18px;
    letter-spacing:0px;
    @include large-screen{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @include large-screen-max{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  > li > a{
    border-width:1px;
  }
  @include min-1023{
    margin-top: -55px;
    // background-color: red;
  }
}
.site-header{
  &.dark{
    .genesis-nav-menu{
      margin-top: -45px;
      a {
        padding-top: 5px;
        padding-bottom: 5px;
        border-color:white;
        // border-color:rgba(0,0,0,0);
        &:hover{
          // border-color: $color-primary;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px){
  .genesis-nav-menu.responsive-menu {
    clear: both;
    padding-top:15px;
    // border-bottom: solid thin #eee;
  }
} 
