.scroll-to-top{
  position: fixed;
  right:10px;
  width:40px;
  height:40px;
  line-height: 40px;
  background-color:#f7f7f7;
  z-index:9999;
  border-radius: $border-radius;
  text-align: center;
  @extend %transition;
  &:hover{
    background-color: #ccc;
    cursor:pointer;
  }
  &:after{
    content:"↑";
  }
}

@keyframes scroll-to-top-show {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 12px;
  }
}
@keyframes scroll-to-top-hide {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: -100px;
  }
}
.scroll-to-top-show{
  animation-name: scroll-to-top-show;
  animation-duration: 1s; 
  animation-fill-mode: both; 
  animation-iteration-count:1;
}
.scroll-to-top-hide{
  animation-name: scroll-to-top-hide;
  animation-duration: 1s; 
  animation-fill-mode: both; 
  animation-iteration-count:1;
}