.why-clients-love-us-page{
  ul{
    margin-left: 0px;
  }
  li{
    list-style-type: none;
    display: block;
    margin-bottom: 40px;
    border: solid thin #eee;
    padding: 10px 20px;
  }
  .image-wrapper{
    // background-color: yellow;
    display: block;
    
    padding:20px;
    box-sizing: border-box;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    img{
      width:100%;
      border-radius: 100%;
      margin-right: 20px;
    }
  }
  .text-wrapper{
    display: block;
    h3{
      margin-bottom: 5px;
      @extend %h3-font-size;
    }
  }

  @include medium-screen{
    li{
      border:none;
      padding: 0;
    }
    .image-wrapper{
      float: left;
      margin-right: 20px;
      margin-left: 0px;
    }
  }
}